<h3 class="text-center animated slideInRight">
    <span *ngIf="!cityName" class="center-v">← Click a marker to get weather tweets</span>
    <span *ngIf="cityName" class="animated slideInDown block">
        Weather tweets for {{cityName}}
    </span>
</h3>
<ul class="list-unstyled" *ngIf="tweets">
    <li *ngFor="let tweet of tweets" class="animated slideInUp" >
        <article class="panel panel-default">
          <div class="panel-body">
              <div class="media">
                <figure class="media-left">
                    <img src="{{tweet.user.profile_image_url_https}}" class="media-object" >
                </figure>
                <div class="media-body">
                  <h4 class="media-heading">{{tweet.user.name}} <small class="text-muted"><time>{{tweet.created_at | date:'HH:mm' }} -  {{tweet.created_at | date }}</time></small></h4>
                  {{tweet.text}}

                  <figure class="media-left" *ngIf="tweet.entities.media">
                      <img src="{{tweet.entities.media[0].media_url_https}}" class="img-responsive" >
                  </figure>


                </div>
              </div>
          </div>
        </article>
    </li>
</ul>
