<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/']" title="meteo et tweet webapp | homepage">[M]°</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="geolocationObj">
                <p class="navbar-text" *ngIf="geolocationObj">
                    {{geolocationObj.name}} {{geolocationObj.main.temp | number:'2.0-0'}}°
                </p>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>

