.tweets-section {
    margin-top: 40px;
    height: 100vh;
}



@media (min-width: 768px) {
    .map-section {
        position: fixed;
    }
}

.sebm-google-map-container {
       height: 600px;
       margin-top: 40px;
       height: 100vh;
}